[Desktop Entry]
Version=1.0
Name=PulseAudio Sound System
Comment=Start the PulseAudio Sound System
Exec=/usr/bin/pulseaudio -D --log-target=syslog
Terminal=false
Type=Application
Categories=
GenericName=
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Initialization
